body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* NAVBAR */
nav {
    background-color: #2c3e50;
    padding: 10px;
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* PROFILE */
.profile {
    background: #e8e8ff;
    text-align: center;
    padding: 40px;
}

/* SECTIONS */
section {
    background: white;
    margin: 20px;
    padding: 25px;
    border-radius: 8px;
}

h2 {
    color: #2c3e50;
    border-bottom: 2px solid #2c3e50;
    padding-bottom: 5px;
}

footer {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
}
